{% load staticfiles %}
<!DOCTYPE HTML>
<!--
	Caminar by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
    <title>死馬特布蘭</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>

    <!-- Header -->
    <header id="header">
        <div class="logo"><a href="#">Caminar <span>by TEMPLATED</span></a></div>
    </header>

    <!-- Main -->
    <section id="main">
        <div class="inner">

            <!-- One -->
            <section id="one" class="wrapper style1">

                <div class="image fit flush">
                    <!--  <img src="images/pic02.jpg" alt="" />  -->
                    {% load staticfiles %}
                    <img src="{% static " images/pic02.jpg " %}" alt="pic02" />
                </div>
                <header class="special">
                    <h2>帕雷托最適</h2>
                    <p>Pareto Optimality</p>
                </header>
                <div class="content">
                    <p>帕雷托最適是指資源分配上的一種最理想的狀態。此時你要增加一個人的福利，那必定要建立在另一個人的損失上。</p>

                    <p>若還沒到達最優，那就能進行帕雷托改進 ( Pareto improvment )，此時可以在沒人損失的狀態下使人變得更好。 可是在古典功利主義 ( utilitarianism，又譯作效益主義，此思想創始人為邊沁，耳熟吼，高中公民 ) 的眼中，資源指的是「幸福」，因此算是道德嚴格版的帕雷托最優。 舉例：若存在一個系統內只有有一個富翁跟一個乞丐，此時你要讓乞丐活下去就一定要從富翁那邊拿錢給他用，會造成富翁的損失，因此已經是帕雷托最優了！這個系統已經達到最佳的資源分配。但在邊沁的眼中，富翁少一點錢不會造成多少幸福感下降，但乞丐因此活了下去，是大大的幸福感上升，因此富翁應該給乞丐錢。 ( 眼熟吼，也可以翻譯成柏拉圖啦。順提，帕雷托是個義大利的經濟學家，知名的20/80定律也是他提出的 ) </p>
                    <p>Nunc fringilla metus odio, at rutrum augue tristique vel. Nulla ac tellus a neque ullamcorper porta a vitae ipsum. Morbi est sapien, hendrerit quis mi in, aliquam bibendum orci. Vestibulum imperdiet nibh vitae maximus posuere. Aenean sit amet nibh feugiat, condimentum tellus eu, malesuada nunc. Mauris ac pulvinar turpis, sit amet pharetra est. Ut bibendum justo condimentum, vehicula ex vel, venenatis libero. Etiam vehicula urna sed justo bibendum, ac lacinia nunc pulvinar. Integer nec velit orci. Vestibulum pellentesque varius dapibus. Morbi ullamcorper augue est, sed luctus orci fermentum dictum. Nunc tincidunt, nisl consequat convallis viverra, metus nisl ultricies dui, vitae dapibus ligula urna sit amet nibh. Duis ut venenatis enim.</p>
                </div>
            </section>

            <!-- Two -->
            <section id="two" class="wrapper style2">
                <header>
                    <h2>Vestibulum Convallis</h2>
                    <p>vehicula urna sed justo bibendum</p>
                </header>
                <div class="content">
                    <div class="gallery">
                        <div>
                            <div class="image fit flush">
                                {% load staticfiles %}
                                <img src="{% static " images/pic03.jpg " %}" alt="pic03" />
                            </div>
                        </div>
                        <div>
                            <div class="image fit flush">
                                {% load staticfiles %}
                                <img src="{% static " images/pic01.jpg " %}" alt="pic01" />
                            </div>
                        </div>
                        <div>
                            <div class="image fit flush">
                                {% load staticfiles %}
                                <img src="{% static " images/pic04.jpg " %}" alt="pic04" />
                            </div>
                        </div>
                        <div>
                            <div class="image fit flush">
                                {% load staticfiles %}
                                <img src="{% static " images/pic05.jpg " %}" alt="pic05" />
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Three -->
            <section id="three" class="wrapper">
                <div class="spotlight">
                    <div class="image flush">{% load staticfiles %}
                        <img src="{% static " images/pic08.jpg " %}" alt="pic08" /></div>
                    <div class="inner">
                        <h3>Viverra Hendrerit</h3>
                        <p>Curabitur eget semper ante. Morbi eleifend ultricies est, a blandit diam vehicula vel. Vestibulum porttitor nisi quis viverra hendrerit. Suspendisse vel volutpat nibh, vel elementum lacus. Maecenas commodo pulvinar dui, at cursus metus imperdiet vel.</p>
                    </div>
                </div>
                <div class="spotlight alt">
                    <div class="image flush">{% load staticfiles %}
                        <img src="{% static " images/pic07.jpg " %}" alt="pic07" /></div>
                    <div class="inner">
                        <h3>Curabitur Eget</h3>
                        <p>Curabitur eget semper ante. Morbi eleifend ultricies est, a blandit diam vehicula vel. Vestibulum porttitor nisi quis viverra hendrerit. Suspendisse vel volutpat nibh, vel elementum lacus. Maecenas commodo pulvinar dui, at cursus metus imperdiet vel.</p>
                    </div>
                </div>
                <div class="spotlight">
                    <div class="image flush">{% load staticfiles %}
                        <img src="{% static " images/pic08.jpg " %}" alt="pic08" /></div>
                    <div class="inner">
                        <h3>Morbi Eleifend</h3>
                        <p>Curabitur eget semper ante. Morbi eleifend ultricies est, a blandit diam vehicula vel. Vestibulum porttitor nisi quis viverra hendrerit. Suspendisse vel volutpat nibh, vel elementum lacus. Maecenas commodo pulvinar dui, at cursus metus imperdiet vel.</p>
                    </div>
                </div>
            </section>

        </div>
    </section>

    <!-- Footer -->
    <footer id="footer">
        <div class="container">
            <ul class="icons">
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
            </ul>
        </div>
        <div class="copyright">
            &copy; Untitled. All rights reserved. Images <a href="https://unsplash.com">Unsplash</a> Design <a href="https://templated.co">TEMPLATED</a>
        </div>
    </footer>

    <!-- Scripts -->
    {% load staticfiles %}
    <script src="{% static " js/jquery.min.js " %}"></script>
    {% load staticfiles %}
    <script src="{% static " js/jquery.poptrox.min.js " %}"></script>
    {% load staticfiles %}
    <script src="{% static " js/skel.min.js " %}"></script>
    {% load staticfiles %}
    <script src="{% static " js/util.js " %}"></script>
    {% load staticfiles %}
    <script src="{% static " js/main.js " %}"></script>

</body>

</html>
