<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <title>帥昕的website</title>
    </head>
    <body>
        
        <h1>帥昕的website</h1>
        <h2>安安呀!</h2>
        
        <!--
            用 <3 跟 JAVASCRIPT 寫出來的
        -->
        
        <p>
            這是用 django 架出來的網頁呦，很討厭吧 ^^
            A car is a machine that we can drive or ride in.
            It comes in many shapes and sizes.
            ju mi~ <3
        </p>
        
        
        
    </body>
</html>